header{
  background-color: rgb(218, 64, 218);
  /* Gradient rainbow background from stack overflow https://stackoverflow.com/questions/40557461/rainbow-gradient-on-text-in-css */
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
  padding-bottom: 2.5%;

}
body{
  background-color: rgb(144, 234, 250);
  font-family: 'Roboto', sans-serif;
}
h1{
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 200px;
  padding-top: 2.5%;
}
img{
  border-radius: 20px;
  border: 2px solid rgb(218, 64, 218);
}
a{
  text-decoration: none;
}
cite{
  font-size: 18px;
}